* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/* Menu de topo */
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

/* Adicionando estilo no section */
.background-container section {
    margin: 20px;
    padding: 20px;
    position: absolute;
    top: 150px;
    left: 420px;
    max-width: 80%; /* Define a largura máxima da seção */
}

/* Título da section */
.background-container section h2 {
    color: red;
    margin-bottom: 0.5em; /* Adiciona espaçamento inferior ao título */
    font-size: 50px;
}

/* Parágrafo da section */
.background-container section p {
    color: #f5f5f5;
    line-height: 1.6;
    margin-bottom: 1em; /* Adiciona espaçamento inferior entre parágrafos */
    font-size: 18px;
}

/* Imagens com caminho de link para o portfólio */
.imagens section {
    margin-top: 380px;
    margin-left: 200px;
}

/* imagens da sobre e formação */
.imagens-container {
    margin-top: 100px;
    margin-left: 35px;
}

/* Imagen de apresentação */
#foto-container {
    margin-top: 380px;
    margin-left: 300px;
}